<dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Need BLE to connect to Myosa device</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>Need BLE to connect to Myosa device</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>bluetooth-central</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>For scanning QR codes</string>
</dict>